* {
  background-color: #2d545e;
  color: #e1b382;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  padding: 30px;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
}

h1 {
  text-align: center;
  font-size: 50px;
}

img {
  height: 10%;
  width: 10%;
  display: block;
  margin: 0 auto; 
  margin-bottom: 15px;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 200px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 10px;
}

button {
  padding: 10px 20px;
  background-color: #12343b;
  color: #e1b382;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 5px;
}

button:hover {
  background-color: #333;
}

.subContainer1 {
  padding: 30px;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
}

.subContainer2 {
  padding: 30px;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subContainer2 button {
  padding: 5px 10px;
  font-size: 14px;
  width: 250px;
  margin: 5px;
}

.subContainers {
  display: flex;
  margin: 30px;
}

.subContainer3, .subContainer4, .subContainer5, .subContainer6, .subContainer7, .subContainer8 {
  padding: 30px;
  flex: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
  margin-right: 10px;
}

.subContainer3:last-child, .subContainer4:last-child, .subContainer5:last-child, .subContainer6:last-child, .subContainer7:last-child, .subContainer8:last-child {
  margin-right: 0;
}

.weather-icon {
  width: 50px; 
  height: 50px; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
}

footer {
  padding: 30px;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
  font-size: 10px;
  text-align: center; 
}


/* Media Query for mobile screens */
@media (max-width: 768px) {
  h1 {
    font-size: 30px; /* Reduce the font size for smaller screens */
  }

  input[type="text"] {
    width: 100%; /* Make the input field full width */
  }

  button {
    width: 100%; /* Make the button full width */
  }

  .searchBar {
    flex-direction: column; /* Stack input and button vertically */
    align-items: center; /* Center items vertically */
    margin-bottom: 10px;
  }

  .subContainers {
    flex-direction: column; /* Stack subContainers vertically */
  }

  .subContainer3, .subContainer4, .subContainer5, .subContainer6, .subContainer7, .subContainer8 {
    margin: 0;
  }
}
